<%= javascript_include_tag 'messages', 'data-turbolinks-track' => true %>
<%= content_tag "div", id: "conversation", data: {conversation: @conversation, root: @root} do %>
<% end %>

<div id="cy" style=""></div>
<div id="right-sidebar">

  <ul id="roots">
    <a href="#"><li id="add-root">+</li></a>
    <% @roots.each do |root| %>
      <a href="/messages/<%= root.id %>"><li><%= sanitize(truncate(root.text, length: 9, separator: ' ')) %></li></a>
    <% end %>
  </ul>
  <br> 
  <ul id="users">
    <% @users.each do |user| %>
      <li data-id="<%= user.user_id %>"><%= user.username %></li>
    <% end %>
  </ul>
  <br>

</div>

<%= form_for @message, method: :post, url: {action: "create"}, html: {class: "display-none", id: "add-root-form"} do |f| %>
  <%= f.text_area :text, id: "add-root-text", value: "", placeholder: "Enter your message" %>
  <%= f.submit "Post Topic" %>
<% end %>
